header {
    background-color: aquamarine;
    display:flex;
    justify-content: flex-end;
    justify-content:space-between
}

#start-btn {
    font-size:2rem;
}

main {
    display:flex;
    justify-content: center;
    justify-content:space-around
}

#quiz {
    font-size:2rem
}

.choice {
    padding:1rem;
}

.choice:hover {
    background-color: rgb(104, 192, 229);
}

form {
    font-size:2rem;
    padding:2rem;
}

p {
    font-size:1.5rem;
}

#container2 {
    display:flex;
    justify-content:center;
    justify-content:space-between;
    font-size:2rem;
    padding:2rem;
}

li {
    padding-top: 2rem;
}

#try-again {
    padding-bottom: 2rem;
}

#correct {
    color: green;
    background-color: black;
}

#incorrect {
    color: red;
    background-color: black;
}

#link {
    font-size: 3rem;
    color: black;
}


