header {
    background-color: aquamarine;
    display:flex;
    justify-content: flex-end;
    justify-content:space-between
}

#start-btn {
    font-size:2rem;
}

main {
    display:flex;
    justify-content: center;
}
.container {
    border: 2px;
    border-style: dotted;
    
}

li {
    background-color: aqua;
    padding: 4px;
}

#correct {
    color: green;
    background-color: black;
}

#incorrect {
    color: red;
    background-color: black;
}

